In [1]:
#IMPORTING LIBRARIES
import numpy as np
import pandas as pd

In [3]:
data= pd.read_csv("C:/Users/simra/Downloads/Shark Tank India (impure).csv")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 52 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Season_Number                        478 non-null    int64
 1   Startup_Name                         478 non-null    object
 2   Episode_Number                       478 non-null    int64
 3   Pitch_Number                         478 non-null    int64
 4   Season_Start                         478 non-null    object
 5   Season_End                           478 non-null    object
 6   Original_Air_Date                    447 non-null    object
 7   Episode_Title                        478 non-null    object
 8   Anchor                               478 non-null    object
 9   Industry                             478 non-null    object
 10  Business_Description                 478 non-null    object
 11  Company_Website                      466 non-null    object
 12  Started_in                           355 non-null    float64
 13  Number_of_Presenters                 478 non-null    int64
 14  Male_Presenters                      412 non-null    float64
 15  Female_Presenters                    226 non-null    float64
 16  Transgender_Presenters               3 non-null      float64
 17  Couple_Presenters                    473 non-null    float64
 18  Pitchers_Average_Age                 478 non-null    object
 19  Pitchers_City                        473 non-null    object
 20  Pitchers_State                       474 non-null    object
 21  Yearly_Revenue(in_lakhs)             241 non-null    float64
 22  Monthly_Sales(in_lakhs)              225 non-null    float64
 23  Gross_Margin                         129 non-null    float64
 24  Net_Margin                           73 non-null     float64
 25  EBITDA                               23 non-null     float64
 26  Cash_Burn                            64 non-null     object
 27  SKUs                                 28 non-null     float64
 28  Has_Patents                          43 non-null     object
 29  Bootstrapped                         48 non-null     object
 30  Original_Ask_Amount                  478 non-null    float64
 31  Original_Offered_Equity(in_%)        478 non-null    float64
 32  Valuation_Requested(in_lakhs)        478 non-null    float64
 33  Received_Offer                       478 non-null    object
 34  Accepted_Offer                       321 non-null    object
 35  Total_Deal_Amount(in_lakhs)          268 non-null    float64
 36  Total_Deal_Equity(%)                 268 non-null    float64
 37  Number_of_Sharks_in_Deal             268 non-null    float64
 38  Namita_Investment_Amount(in lakhs)   89 non-null     float64
 39  Vineeta_Investment_Amount(in_lakhs)  68 non-null     float64
 40  Anupam_Investment_Amount(in_lakhs)   75 non-null     float64
 41  Aman_Investment_Amount(in_lakhs)     109 non-null    float64
 42  Peyush_Investment_Amount((in_lakhs)  89 non-null     float64
 43  Amit_Investment_Amount(in_lakhs)     35 non-null     float64
 44  Ashneer_Investment_Amount            21 non-null     float64
 45  Namita_Present                       389 non-null    object
 46  Vineeta_Present                      318 non-null    object
 47  Anupam_Present                       424 non-null    object
 48  Aman_Present                         420 non-null    object
 49  Peyush_Present                       307 non-null    object
 50  Amit_Present                         137 non-null    object
 51  Ashneer_Present                      99 non-null     object
dtypes: float64(24), int64(4), object(24)
memory usage: 194.3+ KB

In [7]:
data['Season_Start']=pd.to_datetime(data['Season_Start'])
data['Season_End']=pd.to_datetime(data['Season_End'])
data['Original_Air_Date']=pd.to_datetime(data['Original_Air_Date'])

In [8]:
#CHECKING FOR NULL VALUES
data.isnull().sum()

Season_Number                            0
Startup_Name                             0
Episode_Number                           0
Pitch_Number                             0
Season_Start                             0
Season_End                               0
Original_Air_Date                       31
Episode_Title                            0
Anchor                                   0
Industry                                 0
Business_Description                     0
Company_Website                         12
Started_in                             123
Number_of_Presenters                     0
Male_Presenters                         66
Female_Presenters                      252
Transgender_Presenters                 475
Couple_Presenters                        5
Pitchers_Average_Age                     0
Pitchers_City                            5
Pitchers_State                           4
Yearly_Revenue(in_lakhs)               237
Monthly_Sales(in_lakhs)                253
Gross_Margin                           349
Net_Margin                             405
EBITDA                                 455
Cash_Burn                              414
SKUs                                   450
Has_Patents                            435
Bootstrapped                           430
Original_Ask_Amount                      0
Original_Offered_Equity(in_%)            0
Valuation_Requested(in_lakhs)            0
Received_Offer                           0
Accepted_Offer                         157
Total_Deal_Amount(in_lakhs)            210
Total_Deal_Equity(%)                   210
Number_of_Sharks_in_Deal               210
Namita_Investment_Amount(in lakhs)     389
Vineeta_Investment_Amount(in_lakhs)    410
Anupam_Investment_Amount(in_lakhs)     403
Aman_Investment_Amount(in_lakhs)       369
Peyush_Investment_Amount((in_lakhs)    389
Amit_Investment_Amount(in_lakhs)       443
Ashneer_Investment_Amount              457
Namita_Present                          89
Vineeta_Present                        160
Anupam_Present                          54
Aman_Present                            58
Peyush_Present                         171
Amit_Present                           341
Ashneer_Present                        379
dtype: int64

In [9]:
#DROP UN-NECESSARY COLUMNS
data.drop(columns=['Company_Website','Original_Air_Date','Episode_Title','Gross_Margin','Net_Margin','EBITDA','Cash_Burn','SKUs','Has_Patents','Bootstrapped'], inplace=True)

In [10]:
#TREATING NULL VALUES OF STARTED_IN COLUMN
data['Started_in']=data['Started_in'].fillna("Not Mentioned")

In [11]:
#TREATING NULL VALUES FOR COLUMN.
data['Male_Presenters']=data['Male_Presenters'].fillna(0)
data['Female_Presenters']=data['Female_Presenters'].fillna(0)
data['Transgender_Presenters']=data['Transgender_Presenters'].fillna(0)
data['Couple_Presenters']=data['Couple_Presenters'].fillna(0)
data['Pitchers_City']=data['Pitchers_City'].fillna('Not Mentioned')

In [12]:
#TREATING NULL VALUES FOR COLUMN.
data['Pitchers_State']=data['Pitchers_State'].fillna('Not Mentioned')
data['Accepted_Offer']= data['Accepted_Offer'].fillna("No Offer Received.")
data['Total_Deal_Amount(in_lakhs)']= data['Total_Deal_Amount(in_lakhs)'].fillna(0)
data['Total_Deal_Equity(%)']= data['Total_Deal_Equity(%)'].fillna(0)
data['Number_of_Sharks_in_Deal']= data['Number_of_Sharks_in_Deal'].fillna(0)
data['Namita_Investment_Amount(in lakhs)']= data['Namita_Investment_Amount(in lakhs)'].fillna(0)
data['Vineeta_Investment_Amount(in_lakhs)']= data['Vineeta_Investment_Amount(in_lakhs)'].fillna(0)
data['Anupam_Investment_Amount(in_lakhs)']= data['Anupam_Investment_Amount(in_lakhs)'].fillna(0)
data['Aman_Investment_Amount(in_lakhs)']= data['Aman_Investment_Amount(in_lakhs)'].fillna(0)
data['Peyush_Investment_Amount((in_lakhs)']= data['Peyush_Investment_Amount((in_lakhs)'].fillna(0)
data['Amit_Investment_Amount(in_lakhs)']= data['Amit_Investment_Amount(in_lakhs)'].fillna(0)
data['Ashneer_Investment_Amount']= data['Ashneer_Investment_Amount'].fillna(0)
data['Namita_Present']= data['Namita_Present'].fillna('No')
data['Vineeta_Present']= data['Vineeta_Present'].fillna('No')
data['Anupam_Present']= data['Anupam_Present'].fillna('No')
data['Aman_Present']= data['Aman_Present'].fillna('No')
data['Peyush_Present']= data['Peyush_Present'].fillna('No')
data['Amit_Present']= data['Amit_Present'].fillna('No')
data['Ashneer_Present']= data['Ashneer_Present'].fillna('No')

In [13]:
#TREATING NULL VALUES FOR  Yearly_Revenue(in_lakhs)  AND  Monthly_Sales(in_lakhs)

data['Yearly_Revenue(in_lakhs)']=data['Yearly_Revenue(in_lakhs)'].fillna('Not Mentioned')
data['Monthly_Sales(in_lakhs)']=data['Monthly_Sales(in_lakhs)'].fillna('Not Mentioned')

In [14]:
#CLEANING  ANCHOR , INDUSTRY BUSINESS DESCRIPTION
data['Anchor']= data['Anchor'].str.replace('0',' ')
data['Industry']= data['Industry'].str.replace('0',' ')
data['Business_Description']=data['Business_Description'].str.replace('0',' ')

In [15]:
#CHECKING FOR NULL VALUES.
data.isnull().sum()

Season_Number                          0
Startup_Name                           0
Episode_Number                         0
Pitch_Number                           0
Season_Start                           0
Season_End                             0
Anchor                                 0
Industry                               0
Business_Description                   0
Started_in                             0
Number_of_Presenters                   0
Male_Presenters                        0
Female_Presenters                      0
Transgender_Presenters                 0
Couple_Presenters                      0
Pitchers_Average_Age                   0
Pitchers_City                          0
Pitchers_State                         0
Yearly_Revenue(in_lakhs)               0
Monthly_Sales(in_lakhs)                0
Original_Ask_Amount                    0
Original_Offered_Equity(in_%)          0
Valuation_Requested(in_lakhs)          0
Received_Offer                         0
Accepted_Offer                         0
Total_Deal_Amount(in_lakhs)            0
Total_Deal_Equity(%)                   0
Number_of_Sharks_in_Deal               0
Namita_Investment_Amount(in lakhs)     0
Vineeta_Investment_Amount(in_lakhs)    0
Anupam_Investment_Amount(in_lakhs)     0
Aman_Investment_Amount(in_lakhs)       0
Peyush_Investment_Amount((in_lakhs)    0
Amit_Investment_Amount(in_lakhs)       0
Ashneer_Investment_Amount              0
Namita_Present                         0
Vineeta_Present                        0
Anupam_Present                         0
Aman_Present                           0
Peyush_Present                         0
Amit_Present                           0
Ashneer_Present                        0
dtype: int64

In [16]:
#NOW OUR DATA IS CLEAN AND READY TO USE , SO WE WILL DUMP THIS FILE.
data.to_csv('sharktank.csv', index=False)